@font-face {
    font-family: lays;
    src: url(image/MarkOT-Bold.otf);
}

* {
    font-family: lays;
}

body {

    margin-left: 147px;
    margin-right: 147px;
    background: linear-gradient(to bottom, #fbb517 0%, #ffe600 100%);

}

.header {
    width: 100%;
    height: 92px;
    background-color: #ffe600;
    margin-top: 20px;
    display: flex;

}

.logo {
    width: 92px;
    padding-left: 20px;
}

.cont1 {
    width: 100%;
    height: 425px;
    background-color: black;
    display: flex;
    margin-top: 20px;
}

.cont2 {
    width: 100%;
    height: 762px;
    background-color: #ee3124;
    margin-top: 20px;
    position: relative;

}

.blank {
    width: 100%;
    height: 170px;
    background-color: #ee3124;

}

.cont2sec {
    width: 86.7%;
    height: 516px;
    background-color: brown;
    bottom: 10%;
    left: 6.5%;
    position: absolute;
}

.lays1 {
    width: 338px;
    height: 516px;
    background-color: #f8931f;
    float: left;
}

.lays2 {
    width: 338px;
    height: 516px;
    background-color: #83d8ee;
    float: left;
}

.lays3 {
    width: 338px;
    height: 516px;
    background-color: #383a6f;
    float: left;

}

.maintext {
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 90px;
    color: #fff;
    padding-left: 6.5%;
    position: absolute;


}

#wstext {
    font-size: 33px;
    color: #fff;
    padding-left: 6.5%;
    margin-top: -23px;

}

#w2xstext {
    font-size: 24px;
    color: #fff;
    padding-left: 6.5%;
    margin-bottom: 26px;
}

#orangelys {
    font-size: 35px;
    color: #fff;
    padding-left: 6.5%;
    margin-top: 12px;
}

.cont3 {
    width: 100%;
    height: 728px;
    margin-top: 63px;
    background-color: #f6be07;
    position: relative;

}

#imgmrg {
    padding-left: 360px;
}

#imgmrg2 {
    padding-top: 450px;
}

.cont3sec {
    width: 86.2%;
    height: 460px;
    background-color: #f6be07;
    bottom: 93px;
    left: 6.5%;
    position: absolute;


}

.otherproducts {
    width: 314px;
    height: 460px;
    background-color: #fee002;
    float: left;

}

#margproduct {
    margin-left: 33px;

}

#otherproductstext {
    font-family: 'MarkOT-Bold', sans-serif;
    font-size: 25px;
    color: #000;
    padding-left: 30px;
}

.cont4 {
    width: 100%;
    height: 637px;
    margin-top: 20px;
    background-color: #00aa4f;
    position: relative;
}

#cont3imgmarg {
    margin-top: 22px;

}

.vido {
    width: 650px;
    height: 390px;
    position: absolute;
    margin-left: -1080px;
    margin-top: -150px;
}

#videotext {
    font-size: 37px;
    color: #fff;
    margin-left: 810px;
    margin-top: -50px;
    position: absolute;
}

.cont5 {
    width: 100%;
    height: 800px;
    margin-top: 20px;
    background-color: #00aae7;
    position: relative;

}

#socialimgmarg {
    margin-top: 330px;

}

#socialimg {
    margin-top: -15px;
    position: absolute;
    margin-left: -1090px;
}

.footer {
    width: 100%;
    height: 170px;
    background-color: aquamarine;
    margin-top: 20px;


}

.header ul li {
    color: #000;
    list-style: none;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: -1;
    margin-left: 30px;

}

.header ul {
    display: flex;
    justify-content: space-evenly;
}

.header ul li:hover {
    background-color: #ee3124;
    color: #fff;
    border-radius: 10px;

}

.innerhead {
    margin-top: 25px;
    width: 950px;
    height: 50px;
    background-color: #ffe600;
    display: flex;
}

.sampl {
    width: 100%;
    background-color: #383a6f;
}

.btstyl {
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    width: 155px;
    height: 40px;
    border-radius: 20px;
    margin-left: 40px;
    background-color: #da291c;
    border: transparent;
    /* margin-top: 0px; */

}

.btstyl:hover {
    background-color: #00aae7;
    color: #000;
}

.lays1bt {
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    width: 125px;
    height: 37px;
    border-radius: 20px;
    margin-left: 15px;
    background-color: #da291c;
    border: transparent;
    margin-top: 20px;
}

.lays1bt:hover {
    background-color: #fee002;
    color: #000;
}

.lays1and2bt {
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    width: 125px;
    height: 37px;
    border-radius: 20px;
    margin-left: 15px;
    background-color: #da291c;
    border: transparent;
    margin-top: -22px;
    position: absolute;
}

.lays1and2bt:hover {
    background-color: #fee002;
    color: #000;
}

.cont4bt {
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    width: 125px;
    height: 37px;
    border-radius: 20px;
    margin-left: 890px;
    background-color: #da291c;
    border: transparent;
    margin-top: 60px;
    position: absolute;

}

.cont4bt:hover {
    background-color: #fee002;
    color: #000;
}

.footer2 {
    width: 79%;
    height: 50px;

    margin-top: 20px;
    margin-left: 130px;
}

.footerbt {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    background-color: transparent;
    color: #000;
    margin-left: 13px;
    height: 37px;
    border: transparent;


}

.footerbt:hover {
    color: #fff;
    background-color: #da291c;
}

.loggo2 {
    margin-top: 10px;
    width: 90px;
    height: 90px;
    margin-left: 550px;
}

.end {
    width: 100%;
    height: 20px;
    margin-top: 20px;
}

.headbt {
    font-size: 18px;
    font-weight: 900;
    color: #000;
    height: 37px;
    border-radius: 20px;
    margin-left: 17px;
    background-color: transparent;
    border: transparent;
    margin-top: 30px;
}

.headbt:hover {
    background-color: #da291c;
    color: #fff;
}

.esbt {
    height: 30px;
    font-weight: bold;
    font-size: 17px;
    background-color: transparent;
    margin-top: 33px;
    margin-left: 25px;

}

.esbt:hover {
    background-color: #da291c;
    color: #fff;
}

.srch {
    width: 30px;
    height: 30px;
    margin-top: 35px;
    margin-left: 10px;
}

.cont3sec i {
    font-size: 20px;
    margin-left: 20px;
}

.end p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.socialcontainer {
    width: 1000px;
    height: 502.59px;
    background-color: #000;
    position: absolute;
    margin-top: -618px;
    margin-left: 80px;
}

.socialimg {
    height: 50%;
    width: 25%;
    background-color: #00aa4f;
    float: left;
    display: flex;



}